.portfolio {
  flex-grow: 1;
  margin-bottom: 20px;
  padding: 25px;
}

.portfolio h1 {
  margin-bottom: 20px; 
  font-style: italic;
}

.portfolio h2 {
  font-family: 'Shippori Mincho', serif;
  font-weight: bolder;
  color: #3f71f4;
}

.portfolio h4 {
  font-family: 'Shippori Mincho', serif;
}

.portfolio p {
  font-family: 'Shippori Mincho', serif;
}

.portfolio a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}

.port-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.port-app {
  padding: 10px;
}