.portfolio {
  flex-grow: 1;
  margin-bottom: 20px;
  padding: 25px;
}

.portfolio h1 {
  margin-bottom: 20px; 
  font-style: italic;
}

.portfolio h3 {
  font-family: 'Shippori Mincho', serif;
  font-weight: bolder;
}

.portfolio p {
  font-family: 'Shippori Mincho', serif;
}

.portfolio a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}