.skills {
  flex-grow: 1;
  padding: 25px;
  font-family: 'Shippori Mincho', serif;
}

.skills h1 {
  margin-bottom: 20px;
  font-style: italic;
}

.content {
  display: grid;
  font-size: 24px;
  grid-template-columns: 1fr 1fr;
}

.content div {
  margin-bottom: 25px;
}

.content strong {
  line-height: 25px;
  padding-bottom: 15px;
  display: block;
  color: #3f71f4;
}

.content li {
  margin-bottom: 10px;
  font-family: 'Shippori Mincho', serif;
}

.logos {
  max-width: 40px;
  padding: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logos img {
  width: 60px;
  height: 60px;
  padding: 5px;
}


@media (min-width: 800px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}