footer {
  width: 100%;
  padding: 10px 0;
}

footer img {
  max-width: 50px;
  border-radius: 15px;
  padding: 6px;
  margin-right: 10px;
}

footer img:not(:last-child) {
  margin-right: 10px;
}

.footerImg {
  margin-left: -60px;
}